@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat.ttf");
}
@font-face {
  font-family: "Kolker";
  src: url("../assets/fonts/Kolker.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/RobotoCondensed-Regular.ttf");
}
