@media all and (max-width: 810px) {
  .game__header-button {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: -5px;
    }
  }
  .game__window-button {
    font-size: 92%;
  }
}
@media all and (max-width: 768px) {
  .game {
    &__header-button {
      font-size: 14px;
    }
    &__score {
      font-size: 25px;
    }
    &__window-row {
      font-size: 87%;
      flex-wrap: wrap;
    }
    &__window-button {
      width: 45%;
      margin-bottom: 5px;

      &:nth-child(5) {
        margin-bottom: -5px;
      }
      &:nth-child(6) {
        margin-bottom: -5px;
      }
    }
    &__answer {
      grid-column: 1/4;
    }
    &__about {
      grid-column: 1/4;
      grid-row: 3/4;
    }
    &__btn {
      grid-row: 4/5;
    }
  }
}
@media all and (max-width: 425px) {
  .game__header-button {
    width: 40%;
  }
  .game__footer {
    padding: 5px;
    &-github {
      width: 35px;
    }
    &-year {
      font-size: 22px;
    }
    &-img {
      width: 85px;
    }
  }
}
@media all and (max-width: 320px) {
  .container {
    width: 85%;
  }
  .game__logo {
    font-size: 90px;
  }
}
