.game {
  font-family: $main-font;
  width: 100%;
  min-height: 100vh;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  &__header {
    width: 100%;
  }

  &__logo {
    font-family: Kolker;
    font-size: 100px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  &__header-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonColor;
    border-radius: 10px;
    font-size: 100%;
    height: 50px;
    width: 25%;
    color: white;
    text-align: center;
    transition: all 0.6s;
    cursor: pointer;

    &:hover {
      background-color: #229182;
      transform: scale(1.05);
    }
  }

  &__video {
    display: block;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    object-fit: cover;
    pointer-events: none;
    top: 0;
    transition: all 1s;
  }

  &__footer {
    width: 100%;
    height: 7%;
    background-color: rgba(40, 46, 51, 0.2);
    display: flex;
    align-items: center;
    padding: 20px;
    &-row {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #ffffff;
    }
    &-github {
      width: 40px;
      height: 80%;

      img {
        width: 100%;
        height: 100%;
      }
    }
    &-year {
      font-size: 25px;
    }
    &-img {
      width: 100px;
      height: 80%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
