@import "blocks/reset";
@import "blocks/variables";
@import "blocks/fonts";
@import "blocks/startPage";
@import "blocks/_gamePage";

.container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

@import "blocks/media";
