.race__garage {
  &-header {
    font-size: 1.1rem;
    margin-bottom: 15px;
    font-weight: 900;
  }
  &-page {
    margin-bottom: 15px;
  }
  &-list-item {
    margin-bottom: 15px;
  }
  &-list-item-header {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
  }
  &-list-item-select,
  &-list-item-remove {
    width: 80px;
    border-radius: 5px;
  }
  &-list-item-start,
  &-list-item-stop {
    width: 20px;
    height: 25px;
    border-radius: 5px;
  }
  &-list-item-road {
    width: 100%;
    border-top: dashed 3px $road-color;
    position: relative;
    &:after {
      content: "";
      display: block;
      background-color: red;
      width: 5px;
      height: 57px;
      position: absolute;
      right: 3%;
      top: -60px;
    }
  }
  &-pages {
    display: flex;
    justify-content: space-around;
    &-next,
    &-prev {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      width: 100px;
      height: 35px;
      border-radius: 10px;
    }
  }
}

.race__champion {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  &-title {
    font-size: 3rem;
    text-align: center;
  }
  display: none;
}

.race-item-selected {
  border-radius: 10px;
  background-color: rgba(197, 218, 15, 0.5);
}

@keyframes ride {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@media (max-width: 1024px) {
  .race__garage-list-item-road {
    &:after {
      right: 4%;
    }
  }
}

@media (max-width: 768px) {
  .race__garage-list-item-road {
    &:after {
      right: 6%;
    }
  }
}

@media (max-width: 425px) {
  .race__garage-list-item-road {
    &:after {
      right: 12%;
    }
  }
}
