.race__generator {
  &-create,
  &-update {
    display: flex;
    column-gap: 10px;
    &-name,
    &-color,
    &-button {
      margin-bottom: 10px;
      height: 25px;
      font-weight: 700;
    }
    &-name {
      padding: 5px;
    }
    &-color {
      cursor: pointer;
    }
    &-button {
      font-size: 1.2;
      width: 100px;
      border-radius: 10px;
    }
  }
  &-controls-race {
    margin-bottom: 30px;
    display: flex;
    column-gap: 10px;
  }
  &-start-race,
  &-reset-race {
    height: 30px;
    width: 70px;
    border-radius: 10px;
  }
  &-generate-button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
  }
}
