@import "./blocks/reset";
@import "./blocks/variables";
@import "./blocks/header";
@import "./blocks//generator";
@import "./blocks/garage";

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
html {
  font-family: "Montserrat";
  font-size: 18px;
}

body {
  color: $font-color;
  background-color: $background-main;
  user-select: none;
}

button {
  transition: all 0.5s;
  &:hover {
    background-color: $buttor-active-color;
    color: $font-color;
  }
}

.race {
  padding: 50px;
}

#car {
  width: 70px;
}
