@import "./blocks/reset";
@import "./blocks/variables";
@import "./blocks/header";
@import "./blocks//generator";
@import "./blocks/garage";
@import "./blocks/button";

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
html {
  font-family: "Montserrat";
}

body {
  color: $font-color;
  background-color: $background-main;
  user-select: none;
  font-weight: 900;
}

.race {
  padding: 20px;
}

#car {
  width: 40px;
}
